@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #0066b2; /* Biru Transjakarta */
  --color-accent: #f7b500; /* Kuning Kunyit */
  --color-surface: #ffffff; /* Putih Bersih */
  --color-foreground: #333333; /* Abu-abu Gelap */
  --color-muted: #8e8e8e; /* Abu-abu Aspal */
  --color-background: #f3f4f6; /* Light Gray Background */
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
  color: #333333;
}

/* Leaflet z-index fix for modal */
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 1000 !important;
}
